<header>
        {{#if logged_in}}
        <a href="/profile">Profile</a>
        <button id="logout">Logout</button>
        {{!-- commented out, was posting login/signup on landing page --}}
        {{!-- {{else}}
        <a href="/login">Login/signup</a> --}}
        {{/if}}
    </header>