<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans&display=swap"
        rel="stylesheet">
    <title>Outbound Gear Exchange</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper z-depth-1 lime">
                <a href="#" class="brand-logo center indigo-text">Outbound Gear Exchange</a>
            </div>
        </nav>
    </header>
    {{>navbar}}
    <main>{{{body}}}</main>
    <script src="/js/loginSignup.js"></script>
    <script src="/js/logoutBtn.js"></script>
    <script src="/js/index.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit()</script>
       <footer class="page-footer z-depth-1 lime">
    </footer>
</body>

</html>