<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans&display=swap"
        rel="stylesheet">
    <title>Outbound Gear Exchange</title>
</head>

<body>
    <header>
        {{!-- {{>navbar}} --}}

        <nav>
            <div class="nav-wrapper z-depth-1 lime indigo-text">
                <a href="/" class="brand-logo center indigo-text" id="oge">Outbound Gear Exchange</a>
                {{#if logged_in}}
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                        class="material-icons indigo-text">menu</i></a>
                <ul id="slide-out" class="sidenav">
                    {{!-- <li>
                        <div class="user-view">
                    </li> --}}
                    <li><a href="/" class="indigo-text" ><i class="material-icons indigo-text">home</i>Home</a></li>
                    <li><a href="/profile" class="indigo-text"><i class="material-icons indigo-text">face</i>Profile</a></li>
                    
                    <li><a href="/" class="indigo-text" id="logout"><i class="material-icons indigo-text">close</i>Log Out</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>


    </header>
    <main>{{{body}}}</main>
    <script src="/js/loginSignup.js"></script>
    <script src="/js/logoutBtn.js"></script>
    <script src="/js/index.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <footer class="center deep-purple indigo-text page-footer z-depth-1 lime">Made with <svg viewBox="0 0 1792 1792"
            preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;">
            <path
                d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
                fill="#e25555"></path>
        </svg> by the Outbound Team!

        <script>M.AutoInit()</script>

    </footer>
</body>

</html>