    <main>
        <br><br><br>
        <div class="container" id="accent-font">
            <div class="row indigo lighten-1 white-text col s6 brand-logo center" id="gear-cache">My Gear Cache<a
                    href="#" class="btn indigo lighten-1 btn-large right align"><i
                        class="small material-icons">add</i></a></div>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://picsum.photos/200/300">
                </div>
                <div class="card-stacked">
                    <div class="card-content indigo-text">
                        <ul>
                            <li>Gear Id:</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Name:</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Description:</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Date Added:</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>User:</li>
                            <li class="divider" tabindex="-1"></li>
                            <button class="btn btn-small red right align"><i
                                    class="material-icons left">delete</i>Delete Gear</button>
                            <button class="btn btn-small orange right align"><i
                                    class="material-icons left">sync</i>Update Gear</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>