<main>
    <br><br><br><br>
    <div class="container" id="accent-font">
        <ul class="collapsible popout z-depth-1">
            <li>
                <div class="collapsible-header indigo-text"><i class="material-icons indigo-text">landscape</i>About
                    Outbound</div>
                <div class="collapsible-body white"><span class="flow-text">Lorem ipsum dolor sit amet. A little
                        chunk.</span></div>
            </li>
            <li>
                <div class="collapsible-header indigo-text"><i
                        class="material-icons indigo-text">flight_takeoff</i>Login</div>
                <div class="collapsible-body white"><span>
                        <form action="" id="login">
                            <div class="input-field">
                                <input type="text" name="login-email" id="login-email">
                                <label class="active" for="login-email">email</label>
                            </div>
                            <div class="input-field">
                                <input type="password" name="login-password" id="login-password">
                                <label class="active" for="login-password">password</label>
                            </div>
                            <div>
                                <button class="btn waves-effect deep-purple lighten-2">Login</button>
                            </div>
                        </form>
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header indigo-text"><i class="material-icons indigo-text">highlight</i>Sign Up &
                    Explore</div>
                <div class="collapsible-body white"><span>
                        <form action="" id="signup">
                            <div class="input-field">
                                <input type="text" name="signup-name" id="signup-name">
                                <label class="active" for="signup-name">name</label>
                            </div>
                            <div class="input-field">
                                <input type="text" name="signup-location" id="signup-location">
                                <label class="active" for="signup-location">location (city, state)</label>
                            </div>
                            <div class="input-field">
                                <input type="text" name="signup-email" id="signup-email">
                                <label class="active" for="signup-email">email</label>
                            </div>
                            <div class="input-field">
                                <input type="password" name="signup-password" id="signup-password">
                                <label class="active" for="signup-password">password</label>
                            </div>
                            <button class="btn waves-effect deep-purple lighten-2">Signup</button>
                        </form>
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header indigo-text"><i class="material-icons indigo-text">all_inclusive</i>Meet
                    the Team
                </div>
                <div class="collapsible-body white"><span>
                        <div class="collection">
                            <a href="https://github.com/kristensantee" target="blank"
                                class="collection-item indigo-text">Kristen Santee - Project Manager</a>
                            <a href="https://github.com/jlee12297" target="blank"
                                class="collection-item indigo-text">Josh Lee - Backend Developer</a>
                            <a href="https://github.com/leslie310" target="blank"
                                class="collection-item indigo-text">Leslie Saucedo - Frontend Developer</a>
                            <a href="https://github.com/smariagomez" target="blank"
                                class="collection-item indigo-text">Stevie Gomez - Frontend Developer</a>
                        </div>
                </div>
                </form>
                </span>
    </div>
    </li>
    </ul>
    </div>
</main>