* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.brand-logo {
    font-family: 'Amatic SC', cursive;
}

#accent-font {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url("../images/Rachel-lake-view.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 5vh;
}

/* .fill-view {
    min-height: calc(100vh);
} */