* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-radius{
    border-radius: 10px 10px 3px 3px;

}

.bottom-radius{
    border-radius: 0px 0px 10px 10px;
}

.card-radius{
    border-radius: 10px 10px 10px 10px;
}

#oge {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

#accent-font {
    font-family: 'Josefin Sans', sans-serif;
}

.collapsible {
    box-shadow: none!important;
    border: none!important;
}

/* profile.hanlebars */
.rowing-icon{
    margin-right: 5px;
}

.cycling-icon{
    margin-right: 5px;
}

.my-gear{
    font-size: 1.5rem;
    white-space: nowrap;
}

body {
    background-image: url("../images/tent-cluster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
/* submit-gear button in search.handlebars */
.submit-button{
   display:flex;
   justify-content: center;
}

.gear-request {
    display:flex;
    flex-direction: row;
}

.small-form{
    width: 70%;
    margin: auto;
}

/* gearCache.handlebars */
#gear-cache{
    font-family: 'Amatic SC', cursive;
    font-size:4vh;
}

/* addGear.handlebars and profile.handlebars */
.fade-out {
        animation-name: example;
        animation-duration: 6s;
        animation-fill-mode: forwards;
      }

      @keyframes example {
        0% {opacity: 2;}
        50% {opacity: 1;}
        100% {opacity:0;}
    }

    /* gear-card in search.handlebars */
    .gear-card{
        margin-left: 5vh;
        margin-right: 5vh;
    }

#form-font{
    font-family: 'Amatic SC', cursive;
    font-size: large;
    /* font-size:2vh; */
}

.dropdown-content {
    font-size: 2vh;
    font-family: 'Josefin Sans', sans-serif;
}
#upload-widget {
    color: white;
}

#my-gear {
    /* font-size:2.5vh; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 5vh;
}

@media screen and (max-width:576px) {
    #oge {
        /* padding-top: 2vh; */
        font-size: 2rem;
        white-space: nowrap;
    }

    .my-gear{
        font-size: 1rem;
        white-space: nowrap;
    }

    #form-font{
        font-family: 'Amatic SC', cursive;
        font-size: medium;
        /* font-size:2vh; */
    }
.submit-button{
    font-size:10px;
}

.gear-card{
    margin-left: 5px;
    margin-right: 5px;
}

.small-form h4{
    font-size: 1.5rem;

}

.small-form h5{
    font-size: 1.5rem;

}
.card-image
/* placeholder not reactive yet */
    #placeholder{
        font-size: 2rem;
    }
/* welcome card in profile.handlebars */
    #welcome-card h3{
        font-size: 2rem;
    }
}

@media screen and (max-width:576px) {

}